<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Items</title>
    <style>
        img{
    width:300px;
    height:200px;
    }
        a{
            color: red;
        }
    </style>
</head>
<body>
<table cellpadding="5" cellspacing="5">
  <tr>
      {% for name in iname %}
      <th><h2><a href="../item_order/{{name}}">{{name}}</a></h2></th>
      {% endfor %}
  </tr>
    <tr>
        {% for f in file %}
        <td>
            <a href="..{{f.url}}"><img src="{{f.url}}" alt="Pic"></a>
        </td>
        {% endfor %}
    </tr>
  <tr>
      {% for i in iprice %}
      <th><h5>Rs. {{i}}</h5></th>
    {% endfor %}
  </tr>

</table>
</body>
</html>