<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Bill</title>
    <style>
        div{
            border: solid 2px black;
            height: fit-content;
            width: fit-content;
            padding: 27px;
            background: #4e555b;
            color: navajowhite;
        }
    </style>
</head>
<body>
    <center>
        <div id="bill">
        <h2><u>Food Bill</u></h2><br>
        <h4>Item Name: {{iname}}</h4>
        <h5>Item Quantity: {{qty}}</h5>
        <h4>Total Bill Amount: RS. {{total}}</h4>
        </div>
        <br><br>
        <button  onclick="window.print()">Print-Bill</button>
    </center>
</body>
</html>